<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carltaylordev.recordlisterandroidclient">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_152"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".UserInterface.EditListing.EditListingActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:label="@string/listing_activity_name"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity
            android:name=".UserInterface.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_activity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInterface.SavedListings.SavedListingsActivity"
            android:label="@string/title_activity_saved_listings"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".UserInterface.Settings.SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>